<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>First layout </title>
	<link rel="stylesheet" type="text/css" href="./layout.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1 class="border">Sample flexbox example</h1>
		</div>
		<div class="box-wrapper">
    		<div class="box">
		   		<h2 class="htwo"> First article</h2>
				<p class="para">
			     My name is anuj kumar,i belongs from bihar.
			     My native is from muzaffarpur, which is also 
			     knwon as a city of litchi becuase the shahi 
			     litchi is famous in all over india from this city.
				 My village is 24kms apart from the core city.
				 I did my schooling and intermediate from my 
				 village
				</p>
			</div>	
			<div class="box one">
		  		<h2 class="hthree">Second article</h2>	
			  	<p class="para">
			  	 My name is anuj kumar,i belongs from bihar.
			     My native is from muzaffarpur, which is also 
			     knwon as a city of litchi becuase the shahi 
			     litchi is famous in all over india from this city.
				 My village is 24kms apart from the core city.
				 I did my schooling and intermediate from my 
				 village
			  	</p>
	       </div>
	    	<div class="box">
		  		<h2 class="hfour">third article</h2>
			  	<p class="para three">
			  	 My name is anuj kumar,i belongs from bihar.
			     My native is from muzaffarpur, which is also 
			     knwon as a city of litchi becuase the shahi 
			     litchi is famous in all over india from this city.
				 My village is 24kms apart from the core city.
				 I did my schooling and intermediate from my 
				 village My village is 24kms apart from the core city.
				 I did my schooling and intermediate from my 
				 village
				</p>
		   </div>
		</div>
	</div>
</body>
</html>